<IfModule mod_rewrite.c>
             RewriteEngine On
             RewriteCond %{REQUEST_URI} !^/Content/.*$
             RewriteCond %{REQUEST_URI} !^/favicon\.ico$
             RewriteRule ^ index.php
           </IfModule>